.circle {
    animation: colorChange 5s infinite alternate; /* Change color every 5 seconds */
  }
  
  @keyframes colorChange {
    0% { background-color: red; }
    25% { background-color: blue; }
    50% { background-color: green; }
    75% { background-color: yellow; }
    100% { background-color: red; } 
  }

  .matrix-container {
    display: flex;
  }
  
  .matrix-column {
    flex-grow: 1;
    overflow: hidden;
    color: limegreen; /* Change color as desired */
    font-family: monospace;
    font-size: 16px;
  }

  .scroll{
    scroll-snap-type: y mandatory;
  }

  .scroll-area{
    scroll-snap-align: center;
  }